/* CSS files add styling rules to your content */
body,
html {
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

.hero {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.hero img {
 -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
  margin-top: 30px;
}
.hero h1 {
  
  font-size: 100px;
}

.hero .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  
   -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}

.home a {
  background-color: #d9d9d9;
  text-decoration: none;
  border-radius: 10px;
  padding: 0 8px;
  font-size: 17px;
  
   -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}

.home a:hover {
  background-color: #ffffff;
  text-decoration: none;
}

.home hr {
  margin: 1.5em auto;
  width: 1000px;
}

table.home {
  display: block;
  margin-right: auto;
  margin-left: 100px;
}
.home img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 2px solid black;
}
.home td {
  padding: 50px;
  
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}
.home h3 {
  float: center;
  background-color: #E1E1E9;
  
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}
.home p {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
 
  
  
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}
/*Home banner*/

a {
  font-family: "Questrial", sans-serif;
}

* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*Home page layout*/
.home h1 {
  font-size: 50px;
  color: white;
  text-align: center;
}
.home p {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

button {
  margin: 10px 8px;
  cursor: pointer;
  float: right;
}

footer {
  text-align: center;
  padding: 3px;
  color: black;
    font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*navigation bar*/
a {
  color: black;
}
a {
  text-decoration: none;
  background-color: none;
}
a:link {
  color: black;
}
a:visited {
  font-style: bold;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: black;
}

.container {
  margin-top: 20px;
  float: center;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}

.navbarlink a {
  border: 1px solid black;
  padding: 10px;
}

/*Biography page layout*/
.quote h3 {
  text-align: center;
  font-family: "Questrial", sans-serif;
  font-size: 40px;
  margin-right: 400px;
  margin-left: 400px;
}

.header {
  position: relative;
  font-weight: 900;
  font-size: 20px;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}
.header .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.header .letter {
  transform-origin: 0 100%;
  display: inline-block;
}

.biography {
  column-count: 2;
  column-gap: 40px;
  margin-right: 300px;
  margin-left: 300px;
  line-height: 25px;
}

.line hr {
  margin: 1.5em auto;
  width: 900px;
}
.biography span {
  float: left;
  width: 0.8em;
  font-size: 400%;
  font-family: "Raleway", sans-serif;
  line-height: 75%;
}
.biography p {
  text-indent: 2em;
}

h3 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}
li {
  list-style: none;
  text-align: center;
  line-height: 1.5em;
}
ul {
  margin-right: 2.5em;
}

.contents {
  margin-top: 50px;
  margin-bottom: 50px;
}
.contents a {
  background-color: #d9d9d9;
  text-decoration: none;
  border-radius: 10px;
  padding: 0 8px;
  font-size: 17px;
}

.contents a:hover {
  background-color: #ffffff;
}
iframe {
  display: block;
  margin: auto;
}

.gallery td,
tr {
  padding: 30px;
  /*
  border: 2px solid black;
  */
}

.gallery img {
  border-radius: 10px;
  border: 2px solid black;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table.gallery {
  margin-left: auto;
  margin-right: auto;
}
/*Hayao circular profile*/
.profile img {
  border-radius: 50%;
  width: 360px;
  height: 380px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 40px;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}

/*Artworks page layout*/
.art {
  position: relative;
  font-weight: 900;
  font-size: 20px;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}
.art .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.art .letter {
  transform-origin: 0 100%;
  display: inline-block;
}

tr {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container.c {
  margin-right: auto;
   margin-left: auto;
  display: block;
}

/*.c td,
tr {
  padding: 20px;
  
  border: 2px solid black;
  
}
*/
.c td img {
  /*
  border: 2px solid black;
  */
  border-radius: 4px;
  padding: 30px;
  align: center;
}

table.c {
  table-layout: fixed;
  align: center;
}

.landscape {
  width: 100%;
  text-align: center;
}

.portrait {
  width: 350px;
  height: 480px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3);
}

.portrait.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.myDIV:hover + .hide {
  display: block;
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-right: 40px;
  margin-left: 40px;
}
.myDIV:hover + .hide2 {
  display: block;
  color: black;
  text-align: center;
  margin-top: 2px;
  margin-right: 50px;
  margin-left: 50px;
}
.hide {
  display: none;
}
.hide2 {
  display: none;
}

/*Awards page layout*/
.awards {
  position: relative;
  font-weight: 900;
  font-size: 20px;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}
.awards .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.awards .letter {
  transform-origin: 0 100%;
  display: inline-block;
}

#panel1, #oscar, #panel2, #japan{
  padding: 10px;
  text-align: center;
  background-color: #E1E1E9;
  border: solid 1px black;
  
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}

#oscar, #japan {
  font-size: 40px;
   font-family: "Questrial", sans-serif;
  font-weight: bold;
  
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}

.soft-link {
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -ms-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition: color .1s linear;
}


#oscar a:hover {
  color: #D99E30;
  text-decoration: none;
}

#japan a:hover {
  color: #D99E30;
  text-decoration: none;
}
#panel1, #panel2 {
  padding: 50px;
  display: none;
  font-size: 30px;
  font-weight: 400;
  
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}

/*Films page layout*/
.films {
  position: relative;
  font-weight: 900;
  font-size: 20px;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}
.films .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.films .letter {
  transform-origin: 0 100%;
  display: inline-block;
}

.reel1, .reel2, .reel3, .reel4, .reel5, .reel6, .reel7{
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 2px solid black;
}
table.film {
  display: block;
  margin-right: 70px;
}

.film td {
  padding: 50px;
  
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}
.film h3 {
  float: center;
  background-color: #E1E1E9;
  
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}
.film p {
  font-family: "Raleway", sans-serif;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}