/* CSS files add styling rules to your content */
body,
html {
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

/*Home banner*/
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://cdn.glitch.com/db9ae798-4333-464d-8277-6a0caf52bd65%2Fchihiro049.jpg?v=1605361013294");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  border-radius: 10px;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

a {
  font-family: "Questrial", sans-serif;
}

* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*Home page layout*/
.home h1 {
  font-size: 50px;
  color: white;
  text-align: center;
}
.home p {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-style: italic;
}
.home button {
  background-color: black;
  color: white;
  font-family: "Raleway", sans-serif;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 8px;
  cursor: pointer;
  border-radius: 100%;
  float: right;
}
.indexbox {
  float: center;
  padding: 50px;
  height: 300px;
}
.blackbox {
  background-color: #000000;
  color: white;
}
.greybox {
  background-color: #D3D3D3;
  color: white;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.twocol {
  width: 50%;
}

/*navigation bar*/
a {
  color: black;
}
a {
  text-decoration: none;
  background-color: none;
}
a:link {
  color: black;
}
a:visited {
  font-style: bold;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: black;
}

.container {
  margin-top: 20px;
  float: center;
}

.navbarlink a {
  border: 1px solid black;
  padding: 10px;
}

.homebutton {
  float: left;
}

/*Biography page layout*/
.quote h3 {
  text-align: center;
  font-family: "Questrial", sans-serif;
  font-size: 40px;
  margin-right: 400px;
  margin-left: 400px;
}
.biobox {
  float: left;
  padding: 50px;
  height: 300px;
}
.blackbox {
  background-color: #000000;
  color: white;
}
.greybox {
  background-color: #D3D3D3;
  color: white;
}
.bio1 img {
  max-width: 100%;
  max-height: 100%;
}
.bio2 img {
  max-width: 100%;
  max-height: 100%;
}
.indexcontainer {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 30px;
}
/*Hayao circular profile*/
.profile img {
  border-radius: 50%;
  width: 360px;
  height: 380px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 40px;
}
/*Artworks page layout*/
.art h1 {
  font-family: "Questrial", sans-serif;
  color: black;
  font-size: 70px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
  margin-top: 100px;
}
.landscape {
  float: left;
  padding: 50px;
  height: 300px;
  width: 200px;
}
.portrait {
  float: left;
  padding: 50px;
  height: 500px;
  width: 200px;
}
.redbox {
  color: white;
}
.two img {
  object-fit: cover;
  object-position: 37% 0;

  width: 290px;
  height: 400px;
  margin-left: 45px;
}
.four img {
  object-fit: cover;
  object-position: 50% 0;

  width: 290px;
  height: 400px;
  margin-left: 45px;
}
.five img {
  object-fit: cover;
  object-position: 43% 0;

  width: 290px;
  height: 400px;
  margin-left: 45px;
}
.six img {
  object-fit: cover;
  object-position: 0 90%;

  width: 290px;
  height: 400px;
  margin-left: 45px;
}
.three img {
  object-fit: cover;
  object-position: 60% 0;

  width: 290px;
  height: 400px;
  margin-left: 45px;
}
.yellowbox {
  color: white;
}
.bluebox {
  color: white;
}
.one img {
  max-width: 100%;
  max-height: 100%;
}
.greenbox {
  color: white;
}
.magentabox {
  color: white;
}
.fourcol {
  width: 25%;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.myDIV:hover + .hide {
  display: block;
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-right: 40px;
  margin-left: 40px;
}
.myDIV:hover + .hide2 {
  display: block;
  color: black;
  text-align: center;
  margin-top: 2px;
  margin-right: 50px;
  margin-left: 50px;
}
.hide {
  display: none;
}
.hide2 {
  display: none;
}

/*Awards page layout*/
.awards h1 {
  font-family: "Questrial", sans-serif;
  color: black;
  font-size: 70px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.ponyo img {
  max-width: 200;
  max-height: 200%;
  border-radius: 10px;
  border: solid black;
  border-width: 1px;
}

.awdbox {
  float: left;
  margin-left: 125px;
  height: 300px;
}

.qwertbox {
  color: blue;
  margin-right: 30px;
}
.asdfbox {
  color: blue;
  margin-left: 30px;
}

.twocolawd {
  width: 40%;
}

/*Films page layout*/
.films h1 {
  font-family: "Questrial", sans-serif;
  color: black;
  font-size: 70px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
  margin-top: 100px;
}
